._container {
    --container-bg: #dedede;
    --border-color: #8b949e;
    --default-color: #24292f;
    --row-bg: #fff;
    --row-hover: #eeeeee;
    --input-bg: #14181f;

    margin: auto; //kaldirilacak
    width: 600px;
    height: auto;
    background-color: var(--container-bg);
    color: var(--default-color);
    border-radius: 10px;
    transition: all 0.5s;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #c9d1d9;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

        &:hover {
            background-image: linear-gradient(rgba(0, 0, 0, 0.3));

        }
    }
}

._header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    ._title {
        padding: 10px;
        box-sizing: border-box;

        a {
            color: var(--default-color);
            font-weight: bold;
        }
    }

    ._weatherMode {
        padding-right: 10px;

        ._checkbox {
            display: none;
        }

        ._label {
            width: 25px;
            height: 10px;
            background-color: var(--input-bg);
            display: block;
            border-radius: 50px;
            transform: scale(1.5);
        }

        ._ball {
            width: 10px;
            height: 10px;
            background-color: var(--container-bg);
            border-radius: 50%;
            transition: transform 0.2s linear;
        }

        /*  target the elemenent after the label*/
        ._checkbox:checked+._label ._ball {
            transform: translateX(15px);

        }

    }
}

._footer {
    border-top: 1px solid var(--border-color);
    text-align: center;
    padding: 10px;
    color: var(--default-color);
}

._text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    ._user-name {
        font-weight: bold;
    }

    ._adress {
        a {
            color: var(--default-color);
        }
    }

}

._image {
    flex: 0.3;

    img {
        border-radius: 50%;
        max-width: 100px;
        background-color: #fff;
    }

}


._col {
    max-height: 400px;
    overflow: auto;

    ._row {
        background-color: var(--row-bg);

        border-bottom: 1px solid var(--border-color);
        padding: 5px;
        display: flex;
        justify-content: space-between;

        &:hover {
            background-color: var(--row-hover);
        }
    }
}

._dark-mode {
    --container-bg: #14181f;
    --default-color: #fff;
    --row-bg: #21262d;
    --row-hover: #000;
    --input-bg: #fff;
}