#timeline {
  --container-width: 400px;
  --colon-height: 220px;
  --container-bg: #dedede;
  --border-color: #8b949e;
  --default-color: #24292f;
  --row-bg: #fff;
  --row-hover-bg: #eeeeee;
  --input-bg: #14181f;
}
#timeline .dark-mode {
  --container-bg: #14181f;
  --default-color: #fff;
  --row-bg: #21262d;
  --row-hover-bg: #000;
  --input-bg: #fff;
}
#timeline .container {
  width: var(--container-width);
  min-width: 400px;
  flex-direction: column;
  align-content: space-between;
  background-color: var(--container-bg);
  color: var(--default-color);
  border-radius: 10px;
  transition: all 0.5s;
}
#timeline .container ::-webkit-scrollbar {
  width: 12px;
}
#timeline .container ::-webkit-scrollbar-track {
  background-color: #c9d1d9;
}
#timeline .container ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#timeline .container ::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3));
}
#timeline .container .header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#timeline .container .header .title {
  padding: 10px;
  box-sizing: border-box;
}
#timeline .container .header .title a {
  color: var(--default-color);
  font-weight: bold;
}
#timeline .container .header .weatherMode {
  padding-right: 10px;
  /*  target the elemenent after the label*/
}
#timeline .container .header .weatherMode .checkbox {
  display: none;
}
#timeline .container .header .weatherMode .label {
  width: 25px;
  height: 10px;
  background-color: var(--input-bg);
  display: block;
  border-radius: 50px;
  transform: scale(1.5);
}
#timeline .container .header .weatherMode .ball {
  width: 10px;
  height: 10px;
  background-color: var(--container-bg);
  border-radius: 50%;
  transition: transform 0.2s linear;
}
#timeline .container .header .weatherMode .checkbox:checked + .label .ball {
  transform: translateX(15px);
}
#timeline .container .footer {
  border-top: 1px solid var(--border-color);
  text-align: center;
  padding: 10px;
  color: var(--default-color);
}
#timeline .container .col {
  height: var(--colon-height);
  min-height: 110px;
  overflow: auto;
}
#timeline .container .col .row {
  background-color: var(--row-bg);
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}
#timeline .container .col .row:hover {
  background-color: var(--row-hover-bg);
}
#timeline .container .col .text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5px;
}
#timeline .container .col .text-container .user-name {
  font-weight: bold;
}
#timeline .container .col .text-container .adress a {
  color: var(--default-color);
}
#timeline .container .col .image {
  flex: 0.3;
}
#timeline .container .col .image img {
  border-radius: 50%;
  max-width: 100px;
  background-color: #fff;
}
#timeline .not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}/*# sourceMappingURL=timeline.css.map */